{
  "arrowParens": "always",
  "bracketSameLine": false,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "tsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
